$color-white: #fff;
$color-gray-1: #e0e3eb;
$color-gray-2: #888b97;
$color-gray-3: #626687;

$color-primary: #10b981;
$color-primary-dark: #0b9567;
$color-primary-light: #d1fae5;
$color-secondary: #f59e0b;
$color-black: #1b1c57;

$color-danger: #ef4444;
$color-danger-light: #fee2e2;
$color-info: #1d4ed8;
$color-info-light: #dbeafe;

$bp-largest: 106.25em; // 1700px
$bp-large: 75em; // 1200px
$bp-big: 68.75em; // 1100px
$bp-medium: 62.5em; // 1000px;
$bp-small: 50em; // 800px;
$bp-smaller: 43.75em; // 700px;
$bp-smallest: 37.5em; // 600px;
$bp-mini: 31.25em; // 500px;
$bp-minier: 25em; // 400px;
$bp-miniest: 21.25em; // 340px
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  @media only screen and (max-width: $bp-big) {
    font-size: 57.5%;
  }
  @media only screen and (max-width: $bp-medium) {
    font-size: 52.5%;
  }
  @media only screen and (max-width: $bp-smallest) {
    font-size: 47.5%;
  }
  @media only screen and (max-width: $bp-minier) {
    font-size: 45%;
  }
  @media only screen and (max-width: $bp-miniest) {
    font-size: 42.5%;
  }
  @media only screen and (min-width: $bp-largest) {
    font-size: 72%;
  }
}

body {
  font-family: "Lexend";
  font-weight: 400;
  line-height: 1.6;
  font-size: 1.6rem;
  font-weight: 500;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  color: $color-black;
}

h2 {
  font-size: 3.2rem;
  font-weight: 500;
  color: $color-black;
}

h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: $color-black;
}

h4 {
  color: $color-black;
  font-size: 2rem;
  font-weight: 400;
}

.subtitle {
  font-size: 1.8rem;
  color: $color-gray-2;
  font-weight: 200;
  @media only screen and (max-width: $bp-mini) {
    font-size: 2rem;
  }
}

.primary-color {
  color: $color-primary;
}

.error {
  position: absolute;
  bottom: -2.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: $color-danger;
  text-align: left;
}
