@use "../base/base" as c;

.owner {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-top: 1.5rem;

  &--more {
    margin: 0;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    color: c.$color-black;
    font-size: 1.4rem;
    &--more {
      color: #3c4563;
    }
  }

  &__location {
    color: c.$color-gray-2;
    font-weight: 200;
    font-size: 1.2rem;
  }

  &__img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }
}
